<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Find my car
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div [hidden]='networkService.isOnline()'>
    <ion-button color="primary" (click)='relaodPage()'> Refresh page after connect </ion-button>
  </div>

  <div id="map" style="width: 100%; height: 80%"></div>
  <div>
    <div [hidden]="!isStarted">
      <h2> <b>Duration :</b> {{timerString}}</h2>
      <div expend="block">
        <ion-button color="danger" (click)="setStarted(false)">Stop</ion-button>
        <ion-button (click)="takePhoto()">Take photo</ion-button>
      </div>
    </div>

    <div [hidden]="isStarted || !userPosition">
      <ion-button expand="block" (click)="setStarted(true)" color="primary">Find my position</ion-button>
    </div>
    <div [hidden]="userPosition">
      <h1>Wait to find user's position, check your internet connexion</h1>
    </div>
  </div>
</ion-content>