<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Item View
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>

      </ion-buttons>
    </ion-toolbar>
</ion-header>
  <ion-content [fullscreen]="true">
    <h1>Name Localisation: {{name}}</h1>
    <h2>Localisation: Latitude:{{latitude}}, longitude: {{longitude}} </h2>
    <h2>Duration {{duration}}</h2>
    <app-explore-container name="ItemView"></app-explore-container>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="closeModal()">Close</ion-button>  
    </ion-toolbar>
  </ion-footer>
  